{% load static %}
{% load placeholders %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}" />
    <title>The Forum</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="{% url 'show index' %}"><h1>The Forum</h1></a>
      </div>
      <nav>
        <div class="nav">
            <form class="searchbar" method="get" action="{% url 'show index' %}">
                <label class="searchbar">
{#                  {{ search_form }}#}
                  <input type="text" placeholder="Search..." />
                  <button type="submit">
                      <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                </label>
            </form>

        </div>
        {% if request.user.is_authenticated %}
            <div class="nav">
                <a href="{% url 'show index' %}">
                    <button class="home">Home</button>
                </a>
            </div>
            <div class="nav">
                <a href="{% url 'details user' pk=request.user.pk %}">
                    <button class="profile">Profile</button>
                </a>
            </div>
            <div class="nav">
{#        <form method="post" action="{% url 'edit user' pk=request.user.pk %}">#}
                <a href="{% url 'edit user' pk=request.user.pk %}">
                    <button class="settings">Settings</button>
                    {#              </form>#}
                </a>
            </div>
            <div class="nav">
                <a href="{% url 'logout user' %}">
                    <button class="logout">Logout</button>
                </a>
            </div>
        {% endif %}
      </nav>
    </header>
    <main>
        <button onclick="topFunction()" id="myBtn" title="Go to top">
            <i class="fa-solid fa-arrow-up"></i>
        </button>
        <script src="{% static '/css/base/auto_scroll.js' %}"></script>
        {% block page_content %}
        {% endblock %}
    </main>
    <footer>
      <hr />
      <p>
        <em>Email: emil_trz@icloud.com</em>
      </p>
      <p>
        <em>Number: 0896649113</em>
      </p>
    </footer>
  </body>
</html>
