{% extends "base/base.html" %}
{{ search_form }}
{% block page_content %}
{% load placeholders %}
{% load static %}

    <link rel="stylesheet" href="{% static 'css/accounts/login.css' %}" />
        <body>
        <main>
            <form method="post" action="{% url 'login user' %}">
                <div class="container">
                    <div class="welcome">
                        <h2>Welcome to</h2>
                    </div>
                    <div class="to">
                        <h2>The Forum</h2>
                    </div>
                    <ol>
                        <li class="uname">
                            <b>Email:</b>
                            {{ form.username.errors }}
                            <div class="box">{{ form.username|placeholder:'Email' }}</div>
                        </li>
                        <li class="pws">
                            <b>Password: </b>
                            {{ form.password.errors }}
                            <div class="box">{{ form.password|placeholder:'Password' }}</div>
                        </li>
                        <li>
                            <input type="hidden" name="next" value="{{ next }}">
                            <button type="submit">Login</button>
                            {% csrf_token %}
                        </li>
                        <li>
                            <div class="second-option">
                                <p>Don't have an account? <a href="{% url 'register user' %}"> Register </a></p>
                            </div>
                        </li>
                    </ol>

                </div>
            </form>

        </main>
        </body>

{% endblock %}
