{% extends "base/base.html" %}
{{ search_form }}
{% block page_content %}
{% load placeholders %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/accounts/profile-details.css' %}" />
    <div class="info_box">
        <h2>Profile's Information:</h2>
        <ol>
            <li><b>Email:</b> {{ object.email }}</li>
            <li><b>First Name:</b> {{ object.profile.first_name }}</li>
            <li><b>Last Name:</b> {{ object.profile.last_name }}</li>
            <li><b>Username:</b> {{ object.profile.username }}</li>
        </ol>
    </div>
    <form method="post" action="{% url 'add article' %}">
        <div class="article_box">
            <h2>Profile's Articles:</h2>
            <ol>
                <div class="created_articles">
                    {% if articles %}
                        <h3>Created Articles:</h3>
                        {% for article in articles %}
                            <ol>
                                <li class="article">
                                    <a href="{% url 'details article' article.slug %}">
                                        {{ article.title }}
                                    </a>
                                </li>
                            </ol>
                        {% endfor %}
                    {% else %}
                        <h3>No created articles</h3>
                    {% endif %}
                    <div class="create_article">
                        {% if object.pk == request.user.id %}
                            <h3>Create an Article:</h3>
                                <button type="submit">Create</button>
                                {% csrf_token %}
                        {% endif %}
                    </div>

                </div>
                <div class="bookmarked_articles">
                    {% if bookmarked_articles %}

                        <h3>Bookmarked Articles:</h3>
                        <ol>
                            {% for b_article in bookmarked_articles %}
                                <li class="title">
                                    <a href="{% url 'details article' b_article.article.slug %}">
                                        {{ b_article.article.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        <h3>No bookmarked articles</h3>
                    {% endif %}
                </div>
            </ol>
        </div>
    </form>
{% endblock %}
