{% extends "base/base.html" %}
{% block page_content %}
{% load placeholders %}
    {% load static %}
    <link rel="stylesheet" href="#" />
    <body>
    <main>
        <h2>Change your password here:</h2>
        <form method="post" action="{% url 'change password' pk=request.user.pk %}">
            <div class="container">
                <ol>
                    <li>
                        Current Password:
                        {{ form.old_password|placeholder:'Current Password' }}
                    </li>
                    <li>
                        New Password:
                        {{ form.new_password1|placeholder:'New Password' }}
                    </li>
                    <li>
                        Confirm New Password:
                        {{ form.new_password2|placeholder:'Confirm New Password' }}
                    </li>
                </ol>
                <button type="submit">Save changes</button>
                {% csrf_token %}
            </div>
        </form>
    </main>
    </body>
{% endblock %}
