{% extends "base/base.html" %}
{{ search_form }}
{% block page_content %}
{% load placeholders %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/accounts/profile-password-change.css' %}" />
    <form method="post" action="{% url 'change password' pk=request.user.pk %}">
        <div class="change_password_box">
            <h2>Change your password here:</h2>
            <ol>
                <li><b>Current Password:</b> {{ form.old_password|placeholder:'Current Password' }}</li>
                <li><b>New Password:</b> {{ form.new_password1|placeholder:'New Password' }}</li>
                <li><b>Confirm New Password:</b> {{ form.new_password2|placeholder:'Confirm New Password' }}</li>
            </ol>
            <button class="edit-btn" type="submit">Confirm</button>
            {% csrf_token %}
        </div>
    </form>
{% endblock %}
