{% extends "base/base.html" %}
{% block page_content %}
{% load placeholders %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/accounts/profile-details.css' %}" />
    <body>
        <main>
        <h2>My information</h2>
            <p>Email: {{ user.email }}</p>
            <p>First Name: {{ first_name }}</p>
            <p>Username: {{ user.username }}</p>
            <p>My PK: {{ user.pk }}</p>
            <form method="post" action="{% url 'add article' %}">
                <article class="container">
                    <h2>My Articles</h2>
                    <ol>
                        {% for article in articles %}
                            <li class="title">
                            <b>Article's Title:</b>
                                {{ article.title }}
                            </li>
                            {% if article.photo %}
                                <li class="photo">
                                    <b>Link to image:</b>
                                    {{ article.photo }}
                                </li>
                            {% endif %}
                            <li class="content">
                                <b>Article's Content:</b>
                                {{ article.content }}
                            </li>
{#                        <li>#}
{#                            <button type="submit">Create</button>#}
{#                            {% csrf_token %}#}
{#                        </li>#}
                        {% endfor %}
                    </ol>
                </article>
            </form>
        </main>
    </body>
{% endblock %}
