{% extends "base/base.html" %}
{% block page_content %}
{% load placeholders %}
    <form method="post" action="{% url 'edit user' pk=request.user.pk %}">
       <h3>Edit Your profile here:</h3>
        <p>Email: {{ user_form.email }}</p>
        <p>Username: {{ user_profile.username }}</p>
        <p>First Name: {{ user_profile.first_name }}</p>
        <p>Last Name: {{ user_profile.last_name }}</p>
        <button class="edit-btn" type="submit">Edit</button>
        {% csrf_token %}
    </form>
    <a href="{% url 'change password' pk=request.user.pk %}">Change password here.</a>

{% endblock %}

