{% extends "base/base.html" %}
{{ search_form }}
{% block page_content %}
{% load placeholders %}
{% load static %}

    <link rel="stylesheet" href="{% static 'css/accounts/register.css' %}" />
        <body>
        <main>
            <form method="post" action="{% url 'register user' %}">
                <div class="container">
                    <div class="welcome">
                        <h2>Welcome to</h2>
                    </div>
                    <div class="to">
                        <h2>The Forum</h2>
                    </div>
                    <ol>
                        <li class="uname">
                            <b>Email:</b>
                            <div class="box">{{ form.email|placeholder:'Email' }}</div>
                        </li>
                        {% for error in form.email.errors %}
                            <div class="error">{{ error }}</div>
                        {% endfor %}
                        <li class="fname">
                            <b>First Name:</b>
                            <div class="box">{{ form.first_name|placeholder:'First Name' }}</div>
                        </li>
                        {% for error in form.first_name.errors %}
                            <div class="error">{{ error }}</div>
                        {% endfor %}
                        <li class="lname">
                            <b>Last Name:</b>
                            <div class="box">{{ form.last_name|placeholder:'Last Name' }}</div>
                        </li>
                        {% for error in form.last_name.errors %}
                            <div class="error">{{ error }}</div>
                        {% endfor %}
                        <li class="uname">
                            <b>Username:</b>
                            <div class="box">{{ form.username|placeholder:'Username' }}</div>
                        </li>
                        {% for error in form.username.errors %}
                            <div class="error">{{ error }}</div>
                        {% endfor %}
                        <li class="pws">
                            <b>Password:</b>
                            {{ form.password1.errors }}
                            <div class="box">{{ form.password1|placeholder:'Password' }}</div>

                        </li>
                        <li class="pws">
                            <b>Confirm Password:</b>
                            <div class="box">{{ form.password2|placeholder:'Repeat password' }}</div>
                        </li>
                        <li>
                            {% for error in form.password2.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        </li>
                        <li>
                            <button type="submit">Register</button>
                            {% csrf_token %}
                        </li>
                        <li>
                            <div class="second-option">
                                <p>Already have an account? <a href="{% url 'login user' %}">Login</a></p>
                            </div>
                        </li>
                    </ol>
                </div>
            </form>
        </main>
        </body>

{% endblock %}
