.article_box {
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, .1);
    margin-bottom: 25px;
    margin-top: 60px;
    display: block;
}

.article_box_header_link {
    display: block;

    background: #8b3a3ad7;

    color: white;
    text-decoration: none;
    padding: 25px;
    font-size: 20px;
    line-height: 1.5em;
    font-family: "Roboto Slab", serif;
    font-weight: normal;
    position: relative;
}

.article_box_header_link::before {
    display: block;
    content: ".";
    font-size: 0;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 0;
}


/* .article_box_header_link span::before,
.article_box_header_link span::after {
  content: '"';
} */

/* Underline Title */
.article_box_header_link span {
    border-bottom: 2px dashed transparent;
    transition: border .5s;
}
  .article_box_header_link:hover span {
    border-bottom-color: rgba(0, 0, 0, .25);
}


.article_box_meta {
    /* background: #222; */
    padding: 20px 25px;
    padding-top: 30px;
    position: relative;
}

/* Triangle pointers  */
/* Outside */
.article_box_meta::before {
    content: ".";
    display: block;
    font-size: 0;
    border: 0 solid transparent;
    border-top-color: #8b3a3ad7;
    width: 0;
    height: 0;
    border-width: 15px 15px 0;
    position: absolute;
    top: 0;
}

/* Inside */
.article_box_meta::after {
  content: ".";
  display: block;
  font-size: 0;
  border: 0 solid transparent;
  border-top-color: rgba(0, 0, 0, 0.25);
  width: 0;
  height: 0;
  border-width: 10px 10px 0;
  position: absolute;
  top: 0;
  margin-left: 5px;
}


.article_box_author_link {
    color: black;
    text-decoration: none;
    display: block;
    font-family: "Roboto Condensed", serif;
    /* text-transform: uppercase; */
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.article_box_time {
    display: block;
    /* color: rgba(255, 255, 255, .35); */
    font-family: "Roboto Condensed", serif;
    font-style: italic;
    font-size: 14px;
}

.article_box_content {
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 10px;
    /* -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%); */
    height: auto;
    /* width: 300px; */
    overflow: hidden;
    font-family: "Roboto Slab", serif;


}

article .buttons {
    display: inline-flex;
    position: relative;
    left: 4%;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 14px;
}

.likes_number, .dislikes_number {
    display: inline-flex;
    position: relative;
    left: 5%;
    bottom: 15%;
    font-size: 16px;
    font-family: "Roboto Slab", serif;

}

.buttons a {
    text-decoration: none;
    color: black;

}

article .like {
    position: relative;
    right: 14%;

}

article .dislike {
    position: relative;
    left: 2%;
    top: 2px;
}

article .bookmark {
    position: relative;
    left: 22%;
    top: 3px;
    font-size: 18px;
}

article .edit_button button {
    position: relative;
    left: 100%;

    /*bottom: 4px;*/
    font-size: 16px;
    margin-left: 5px;
}

article .edit_button button:hover {
    color: white;
    background-color: #009F68;
    border: 1px solid #009F68;
    border-radius: 2px;
    padding: 3px 7px;
    /*border: #8b3a3ad7 solid 1px;*/
    /*margin-left: 4px;*/


}

.add_comment_box {
    width: 70%;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, .1);
    margin: 25px auto;
    display: block;
    font-family: "Roboto Condensed", serif;

    padding: 20px 0 20px 0;

}

.add_comment_box .comment_window {
    position: relative;
    left: 4.5%;
}

.add_comment_box button {
    position: relative;
    left: 40%;
    top: 15px;
    font-size: 16px;
    padding: 2px 10px;
}

.add_comment_box button:hover {
    color: white;
    background-color: #009F68;
    border: 1px solid #009F68;
    border-radius: 2px;
    padding: 3px 11px;
    /*padding-right: 22px;*/
}

.comments_box {
    display: block;
    width: 90%;
    position: relative;
    /* left: 45%;  */
    top: 15px;
    /*box-shadow: 0 0 50px 0 rgba(0, 0, 0, .1);*/
    border: 1px solid grey;
    margin: 40px auto 25px;
}

.comments_box #id_text {
    color: black;
    text-decoration: none;
}

.comments_box .quantity_comments {
    display: block;
    text-align: center;

    padding: 10px 0;

    /*color: white;*/
    background-color: #8b3a3ad7
}


.comments_box ol {
    list-style: none;

    border-left: 2px solid #8b3a3ad7;
    border-right: 2px solid #8b3a3ad7;
    border-bottom: 2px solid #8b3a3ad7;
    padding: 10px 0 15px;
    margin: 20px 40px;
    /*padding: 20px 20px;*/

}

.comment_info .buttons {
    display: inline-flex;
    position: relative;
    /*margin: 10px 20px;*/
    font-size: 14px;
}

.comment_info .username {
    position: relative;
    /*background-color: #BDA6A6;*/
    background-color: #8b3a3ad7;
    /*color: white;*/
    padding-left: 20px;
    padding-top: 10px;
    bottom: 10px;
}

.comment_info .article_box_author_link {
    /*color: white */
}
.comment_info .publication_date {
    /*background-color: #C46C69;*/
    position: relative;

    background-color: #8b3a3ad7;
    /*color: white;*/
    /*margin-bottom: 20px;*/
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 20px;

    font-size: 14px;

}

.comment_info .content {
    /*margin-left: 1.5%;*/
    padding-left: 20px;
}

.comment_info .buttons {
    margin-top: 20px;
}

.comment_info .like {
    position: relative;

    left: 32%;
    top: 2px;
}

.comment_info .dislike {
    position: relative;

    left: 52%;
    top: 3px;
}