
.delete_box {
    position: relative;
    display: inline-flex;

    left: 30%;
    top: 120px;

    padding: 10px 20px;


    border: 2px solid black;
    border-radius: 5px;

    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.delete_box h3 {
    padding: 20px;
}

.delete_box button {
    margin-right: 25px;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 5px 20px;

    font-size: 16px;
}

.delete_box button:hover {
    color: white;
    background-color: #ca1414d7;
    border: 1px solid #ca1414d7;
    border-radius: 5px;
    padding-right: 22px;
}
