.change_password_box {
    position: relative;
    display: inline-block;

    width: 40%;
    height: 350px;

    left: 30%;
    top: 120px;

    padding: 10px 20px;

    border: 2px solid black;
    border-radius: 5px;

    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.change_password_box h2 {
    position: relative;
    display: inline-block;

    left: 15%;

    padding: 20px;

}

.change_password_box ol {
    position: relative;
    display: inline-block;

    list-style: none;
    font-size: 18px;

    left: 14%;


}

.change_password_box li {
    position: relative;
    bottom: 45px;

    margin-top: 25px;


}

.change_password_box button {
    margin-right: 25px;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 5px 20px;

    position: relative;
    display: inline-block;

    left: 22%;
    bottom: 20px;

    font-size: 18px;
}

.change_password_box button:hover {
    color: white;
    background-color: #009F68;
    border: 1px solid #009F68;
    border-radius: 2px;
    padding-right: 22px;
}


/* ERRORS */
.change_password_box .error {
    position: relative;
    display: inline-flex;
    right: 18%;
    bottom: 40px;
    text-decoration: underline;
}