.change_password_box {
    position: relative;
    display: inline-block;

    width: 40%;
    height: 350px;

    left: 30%;
    top: 120px;

    padding: 10px 20px;

    border: 2px solid black;
    border-radius: 5px;

    /* box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);     */
}

.change_password_box h2 {
    position: relative;
    display: inline-block;

    left: 15%;

    padding: 20px;

}

.change_password_box ol {
    position: relative;
    display: inline-block;

    list-style: none;
    font-size: 18px;

    left: 20%;

}

.change_password_box li {
    position: relative;
    bottom: 25px;

    margin-top: 25px;

}

.change_password_box button {
    margin-right: 25px;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 5px 20px;

    position: relative;
    display: inline-block;

    right: 12%;
    top: 15%;

    font-size: 18px;
}

.change_password_box button:hover {
    color: white;
    background-color: #79C25E;
    border: 1px solid #79C25E;
    border-radius: 2px;
    padding-right: 22px;
}
