{% extends "base/base.html" %}
{% block page_content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/common/home-page.css' %}" />
    <h3>
    {% for article in articles %}
{#        TODO: #}
{#        <a href="{% url 'edit article' username=request.user.email article_slug=article.slug %}">Edit Article</a>#}
{#        <form method="post" action="{% url 'edit article' username=request.user.email article_slug=article.slug %}">#}
{#        <button class="edit-btn" type="submit">Edit</button>#}
        <p>Title: {{ article.title }}</p>
        {% if article.photo %}
            {{ article.photo }}
        {% endif %}
        <p>Content: {{ article.content }}</p>
        <p>Slug: {{ article.slug }}</p>
        <a href="{% url 'details article' article.slug %}">Details Article</a>

    {% endfor %}
{#        </form>#}
    </h3>
    <body>
        <main>
            <p>Create your article here: </p>
            <a href="{% url 'add article' %}">Add Article</a>
        </main>
    </body>
    {% csrf_token %}

{% endblock %}
