{% extends "base/base.html" %}
{% block page_content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/common/home-page.css' %}" />
    <h3>
    Welcome to your home page
    <p>{{ request.user.email }}</p>
    <p>{{ request.user.first_name }}</p>
        <p>{{ request.user.username }}</p>
        <p>{{ request.user.pk }}</p>
    {% for article in articles %}
{#        <form method="post" action="{% url 'edit article' email=email article_slug=article_slug%}">#}
        {{ article.title }}
        {% if article.photo %}
            {{ article.photo }}
        {% endif %}
        {{ article.content }}
    {% endfor %}

    </h3>
    <body>
        <main>
            <p>Create your article here: </p>
            <a href="{% url 'add article' %}">Add Article</a>
        </main>
    </body>
    {% csrf_token %}

{% endblock %}
